.any {
  color: #666666;
  .title {
    font-size: 30px;
    font-weight: bold;
  }
  .section-title {
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: solid 1px #dddddd;
  }
  .box {
    &.header, &.content, &.footer {
      padding: 20px 15px 10px 15px;
    }
    &.header {
      position: fixed;
      left: 0;
      top: 0;
      padding-left: 0;
      width: 100%;
      background-color: #ffffff;
      border-bottom: solid 1px #dddddd;
      .menu {
        .menu-item {
          &.selected {
            background-color: #dddddd;
          }
        }
        .menu-item:nth-child(odd) {
          border: solid 1px #dddddd;
        }
        .menu-item:nth-child(even) {
          border-right: solid 1px #dddddd;
          border-top: solid 1px #dddddd;
          border-bottom: solid 1px #dddddd;
        }
        a {
          padding: 10px 15px;
        }
      }
    }
    &.content {
      margin-top: 60px;
      .content-inner {
        img {
          max-width: 100%;
          width: 100%;
          height: auto;
          vertical-align: bottom;
          -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
          filter: grayscale(100%);
          cursor: pointer;
          &:hover {
            -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
            filter: grayscale(0%);
          }
        }
      }
    }
    &.footer {
      padding-top: 5px;
      border-top: solid 1px #dddddd;
      .copyright {
        > p {
          font-size: 14px;
        }
      }
    }
    .pagination {
      margin-top: 10px;
    }
  }
}

/* ########## 599px 이하 ########## */
@media (max-width: 599px) {
  .any {
    .box {
      &.header {
        .menu {
          li {
            a {
              padding: 10px 7px;
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}

/* ########## 767px 이하 ########## */
@media (max-width: 767px) {
  .any {
    .header-inner {
      padding-left: 15px;
    }
    .menu {
      display: none;
    }
  }
}

/* ########## 768px 이상 ########## */
@media (min-width: 768px) {
  .any {
    .box {
      &.header {
        .menu {
          float: right;
        }
      }
    }
  }
}

/* ########## 1190px 이상 ########## */
@media (min-width: 1190px) {
  .any {
    .box {
      &.header {
        margin-bottom: 20px;
      }
    }
    .header-inner, .content-inner, .footer-inner {
      width: 1140px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
